<footer class="site-footer py-70" style="background-color: white  !important;" data-aos="fade-up" data-aos-duration="1000">
	<div class="container">
		<div class="row gap-y">
			<div class="col-12 col-md-12 col-lg-6">
				<div class="media">
				  <img src="/public/images/ZASPIX-Main.png" alt="logo" width="90px;">
				  <div class="media-body pt-5">
				    <p class="fs-13 text-light pl-20">A Creative Photography website blog by Franzesch Anne Sales which cover events like wedding, debut, and some outdoor events like festivals.</p>
				    <br>
				  </div>
				</div>
			</div>

			<div class="col-12 col-md-4 col-lg-2 pl-30 pt-30">
				<div class="hidden-md-down text-right">
					<h6 class="heading-alt text-uppercase fs-14 mb-3 text-warning">ABOUT</h6>
					<div class="nav flex-column text-light">
						<!-- <a class="nav-link" href="#">Sobre nosotros</a> -->
						<a class="nav-link text-light" href="#" target="_blank">About Me</a>
						<a class="nav-link text-light" href="#" target="_blank">Privacy Policy</a>
						<a class="nav-link text-light" href="mailto:zesch.sales@gmail.com">Contact for reservation</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4 col-lg-3 pt-30">
				<h6 class="heading-alt text-uppercase fs-14 mb-3 text-center text-warning">SOCIALS</h6>
				<hr class="hidden-sm-down" style="background-color:black !important; width: 150px;">
				<hr class="hidden-sm-up visible-sm-down" style="background-color:gray !important;">

				<div class="social text-center pt-0 text-light">
					<a class="social-facebook" href="https://www.facebook.com/zeschsales" target="_blank"><i class="fa fa-facebook"></i></a>
					<a class="social-twitter" href="https://twitter.com/fzasales" target="_blank"><i class="fa fa-twitter"></i></a>
					<a class="social-google" href="https://plus.google.com/100007752531035881324" target="_blank"><i class="fa fa-google"></i></a>
					<a class="social-instagram" href="https://www.instagram.com/zeschsales/" target="_blank"><i class="fa fa-instagram"></i></a>
				</div>
			</div>

			<div class="col-12 col-md-12"><hr>
				<p class="text-light pl-15 hidden-md-down text-light">Copyright © 2017. Franzesch Anne Sales. ZASPIX Creative Photography.</p>
			</div>

			<div class="col-12 col-md-4 col-lg-3 hidden-md-up visible-sm-down">
				<p class="text-light text-center text-white">Copyright © 2017. Franzesch Anne Sales. ZASPIX Creative Photography.</p>
			</div>

		</div>
	</div>
</footer>
