<!-- Begin MailChimp Signup Form --> 
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> 
<style type="text/css"> 
	#mc_embed_signup{
		background:#fff; 
		clear:left; 
		font:14px Helvetica,Arial,sans-serif; 
	}
</style> 

<footer class="site-footer py-70 mt-0" style="background-color: white  !important;">
	<div class="container">
		<div class="row gap-y">
			<div class="col-12 col-md-12 col-lg-6">
				<div class="media">
				  <img src="/public/images/ZASPIX-Main.png" alt="logo" width="90px;">
				  <div class="media-body pt-15">
				    <p class="fs-13 text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				    <br>
				    
				  </div>
				</div>
				<p class="text-light pl-15 hidden-md-down text-light">Copyright © 2017 ZASPIX Creative Photography.</p>
			</div>

			<div class="col-12 col-md-4 col-lg-2 pl-30 pt-30">
				<div class="hidden-md-down text-right">
					<h6 class="heading-alt text-uppercase fs-14 mb-3 text-warning">ABOUT</h6>
					<div class="nav flex-column text-light">
						<!-- <a class="nav-link" href="#">Sobre nosotros</a> -->
						<a class="nav-link text-light" href="#" target="_blank">About Me</a>
						<a class="nav-link text-light" href="#" target="_blank">Privacy Policy</a>
						<a class="nav-link text-light" href="#">Terms And Conditions</a>
						<a class="nav-link text-light" href="mailto:zesch.sales@gmail.com">Contact for reservation</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4 col-lg-3 pt-30">
				<h6 class="heading-alt text-uppercase fs-14 mb-3 text-center text-warning">SOCIALS</h6>
				<hr class="hidden-sm-down" style="background-color:black !important; width: 150px;">
				<hr class="hidden-sm-up visible-sm-down" style="background-color:gray !important;">

				<div class="social text-center pt-0 text-light">
					<a class="social-facebook" href="https://twitter.com/fzasales" target="_blank"><i class="fa fa-facebook"></i></a>
					<a class="social-twitter" href="https://www.facebook.com/zeschsales" target="_blank"><i class="fa fa-twitter"></i></a>
					<a class="social-google" href="https://plus.google.com/100007752531035881324" target="_blank"><i class="fa fa-google"></i></a>
					<a class="social-instagram" href="https://www.instagram.com/zeschsales/" target="_blank"><i class="fa fa-instagram"></i></a>
				</div>
				<br>
			</div>

			<div class="col-12 col-md-4 col-lg-3 hidden-md-up visible-sm-down">
				<p class="text-light text-center text-white">Copyright © 2017 ZASPIX Creative Photography.</p>
			</div>

		</div>
	</div>
</footer>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
	(function($){
		window.fnames = new Array(); 
		window.ftypes = new Array();
		fnames[0]='EMAIL';
		ftypes[0]='email';
		fnames[1]='FNAME';
		ftypes[1]='text';
		fnames[2]='LNAME';
		ftypes[2]='text';
		fnames[3]='BIRTHDAY';
		ftypes[3]='birthday';
	}(jQuery));
	var $mcj = jQuery.noConflict(true);
</script> 