<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Photography Website">
    <meta name="keywords" content="Photography Website">

    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="/css/hover.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/aos.js"></script>
    <style type="text/css">
        
    </style>
</head>
<body>

<div class="container-fluid" style="padding:0px;">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=710677045981417&autoLogAppEvents=1"></script>

    <section class="section section-inverse bg-img" style="background-image: url(/public/images/Gallery8.jpg); border-bottom: 5px solid #212121;" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center pt-80">
                <h4 data-aos="fade-up" data-aos-duration="700" class="mb-0 text-white"></h4><hr width="50px;">
     
            </div>
        </div>
    </section>

    <!-- THIS IS THE NAVBAR -->
    <style type="text/css">

      /* Dropdown-submenu is styles for dropdown with sub menu style is needed*/
      .dropdown-submenu {
        position: relative;
      }

      .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
      }

      .dropdown-menu.profile li { 
        border-bottom: 1px solid #efefef;
        padding: 6px;
      }

      .dropdown-submenu:hover>.dropdown-menu {
        display: block;
      }

      .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
      }

      .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
      }

      .dropdown-submenu.pull-left {
        float: none;
      }

      .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
      }

      .nav-link {
        font-size: 13px !important;
      }

      .hvr-overline-from-center:before {
        background-color: #fb8c00;
        height: 2px;

      }


      .hvr-bounce-in:focus,
      .hvr-bounce-in:active {
         color: #fb8c00 !important;  
      }

      .navbar-brand small {
        display:block;
        font-size:12px;
      }
    </style>

    <nav class="topbar topbar-inverse topbar-expand-sm topbar-sticky py-40">
      <div class="container">
        <div class="row h-full" style="width: 100%;">
          <div class="col-10 col-md-4 align-self-center">
            <button class="topbar-toggler" aria-label="Toggle navigation">
            &#9776;
            </button>
            <!-- <a class="navbar-brand" href="/"><img src="/public/images/logo-web.png"  #78db88;></a> -->
            <a class="topbar-brand" href="/">

              <span class="logo-default navbar-brand text-warning" style="color:gray; font-weight: 600;">ZASPiX <small>Creative Photography</small>
              </span>
            </a>
          </div>

          <!-- NAVBAR ITEMS FOR MEDIUM SCREEN SIZE DEVICE -->
          <div class="col-1 col-md-8 text-md-right pr-40">
            <ul class="topbar-nav topbar-nav__main nav" style="font-size: 0.8em;">
              <li class="nav-item"><a class="nav-link hvr-bounce-in" href="/">HOME <!-- HOME --></a></li>
              <li class="nav-item"><a class="nav-link hvr-bounce-in" href="/" data-scrollto="section-content"> ABOUT ME<!-- FITNESS OPTIONS--> </a></li>
              <li class="nav-item"><a class="nav-link hvr-bounce-in" href="/">GALLERY</a></li> 
              <li class="nav-item"><a class="nav-link hvr-bounce-in" href="/blog">BLOG</a></li> 
            </ul>
          </div>
          <!-- // END OF NAVBAR ITEMS FOR MEDIUM SCREEN SIZE DEVICE -->

        </div>
      </div>
    </nav>

    <section class="section overflow-hidden" id="section-content" style="background-color: whitesmoke;">
        <div class="container">
            <div class="col-lg-12"  data-aos="fade-up" data-aos-duration="700">      
                <div>
                    <div class="card card-bordered px-30 py-40 fs-18 pr-md-5">

                        <div class="row">
                          <div class="col-md-8 col-12">
                            <strong><span style="font-size: 30px;">Note to the Masses</span></strong>
                              <p class="fs-17"><strong>By Franzesch Anne Sales, April 2019</strong></p>

                            <div class="text-justify">
                              <img src="/public/images/Gallery9.jpg" class="img-fluid w-500 pt-10">
                              <hr>
                              <p style="text-align: justify;">Nowadays, many people are having lots of struggles just to have a decent living.</p>
                              <p style="text-align: justify;">Waking up early in the morning, getting themselves ready for work, traveling more than an hour, facing a traffic, walking under the heat of the sun, having workloads, sometimes having disagreements or issues with officemates, and facing a traffic even before going home is their daily routine.</p>
                              <p style="text-align: justify;">And because of these, you may feel tired all the time.</p>
                              <p style="text-align: justify;">Now, have you ever wondered if these things are worth it?</p>
                              <p style="text-align: justify;">Have you ever asked yourself if you&rsquo;re happy with it?</p>
                              <p style="text-align: justify;">Have you measured the pros and cons of it?</p>
                              <p style="text-align: justify;">Everyone wants a decent living, but there&rsquo;s only few individuals who follow the most practical and useful way. Most of the time, people always stays in their comfort zone even though it is so stressful that it drains them physically and mentally when there&rsquo;s wide range of available better choices around them.</p>
                              <p style="text-align: justify;">It seems it is in our Biology that most of us tend to follow the popular trends in terms of fashion, gadgets, lifestyle, and even in career.</p>
                              <p style="text-align: justify;">There's a stereotype that if you acquired a degree, do masteral or better doctoral, you'll have a better chance of being more successful. You'll have a higher chance of getting the job.</p>
                              <p style="text-align: justify;">But this is not always the case because there are some scenario that even if you have all of these requirements you still have to work for a minimum wage company because you have zero experience, we downgrade ourselves just to follow the pattern life temporary written for us.</p>
                              <p style="text-align: justify;">There are some individuals who did not follow this pattern that life gave them.</p>
                              <p style="text-align: justify;">Take Bill Gates, Steve Jobs, Larry Page, and Mark Zuckerberg, most of them are college dropout and didn't have a degree. Look at what they accomplished.</p>
                              <p style="text-align: justify;">These people became successful not due to their hard work alone but because of their perseverance, curiosity, passion and exploration.</p>
                              <p style="text-align: justify;">They chase their hobby and passion even if it comes to point where they almost fail, but they did not give up.</p>
                              <p style="text-align: justify;">They kept going directions that wasn&rsquo;t explored before and look where it got them.</p>
                              <p style="text-align: justify;">They were able to invent something new, something useful, something that the next generation, and to the next generation, will be able to use.</p>
                              <p style="text-align: justify;">So, ask yourself, would you still want to follow the masses or do and follow what you love?</p>
                              <h3 style="text-align: justify;"><em>&ldquo;You can fail at something you don't love, so you might as well take the chance at something you do love&rdquo; - Jim Carrey</em></h3>
                              <p style="text-align: justify;">&nbsp;</p>
                            </div>
                          </div>
                        </div>
                        

                    </div>
                    <br>
                    <div class="fb-like mt-3" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../templates/footer.ejs") %>
</div>

<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>

</body>
</html>
