<div class="overlay" style="background-color: #000; position: absolute; height: 100%; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.5;"></div>
  <div class="container text-center">

    <div class="row">
        <div class="col-12 col-md-12  align-self-left">
          <div class="hidden-sm-down">
            <div class="media">
              <div class="media-body">
                <h1 class="text-white"><span>ZASPiX</span> CREATIVE PHOTOGRAPHY</h1>

                <br><br>
                <p class="text-center text-muted fs-25 pr-0 text-justify px-200">
                   A Creative Photography website blog by <br><strong class="text-white"> Franzesch Anne Sales </strong> which cover events like wedding, debut, and some outdoor events like festivals. 
                </p>
              </div>
            </div>

            <div class="col-12 col-md-12 text-center">
              <hr width="50px;"><br><br>
              <a href="/" data-scrollto="section-album" class="btn btn-glass btn-hover-all btn-lg py-10 mr-3 hvr-bounce-to-bottom">
                BROWSE ALBUM
              </a> 

              <a href="/" data-scrollto="section-more-about" class="btn btn-hover-all btn-warning py-10 btn-lg hvr-bounce-to-bottom">
                ABOUT ZASPiX
              </a> 
            </div>

          </div>
          
          <div class="hidden-md-up">
            <h1 class="text-center fs-25 pt-50">
              ZASPIX CREATIVE PHOTOGRAPHY.
            </h1>
            <br><br>
            <p class="text-muted fs-20 pr-0 text-center">
               A Creative Photography website blog by <strong class="text-white"> Franzesch Anne Sales </strong> which cover events like wedding, debut, and some outdoor events like festivals. 
            </p>
            <br><br>
            <div class="col-12 align-self-end center">
                <a class="scroll-down-1 scroll-down-inverse" href="/" data-scrollto="section-content"><span></span></a>
            </div>
          </div>
        </div>
    </div>
  </div>