<section class="section overflow-hidden" id="section-more-about"  >
    <div class="container">
        <div class="col-md-12 bg-whitesmoke">      
            <div class="text-center">
                <img src="/public/images/ME.jpg" class="img-fluid w-200 img-thumbnail mt-20" style="border-radius: 50%;">
            </div>
            <h4 class="pt-60 text-center">ABOUT FRANZESCH</h4><br>
            <p class="text-justify text-center px-30">
                I am a Bachelor of Arts in Psychology graduate but I have a passion in music, photography and videography. I was trained to be an HR and a Behavior Interventionist. I play music since grade 2. I play guitar, double bass, rondalla instruments, drums and djembe. I cover events like wedding, debut, and some outdoor events like festivals. If you are planning to make a reservation, it will be a great platform to showcase my talent and I promise that I will give you satisfaction on my works. Thank you and God bless!
            </p>
            <hr width="50px;">
            <div class="pt-30 text-center">
                <span class="fa-stack fa-lg">
                    <a href="https://twitter.com/fzasales" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x" style="color: gray !important;"></i>
                        <i class="fa fa-twitter fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://www.facebook.com/zeschsales" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-facebook fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://plus.google.com/100007752531035881324" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-google fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://www.instagram.com/zeschsales/" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-instagram fa-stack-1x" style="color: gray !important;"></i>
                    </a href="#">
                </span>
            </div>
        </div>
    </div>
    </section>