<section class="section overflow-hidden" id="section-content" style="border-bottom: 5px solid #9b3f2d;">
    <div class="container">
        <div class="col-md-12 hidden-sm-down bg-whitesmoke">      
            <div class="media">
                <img src="/public/images/ZASLogo.png" class="img-fluid w-200">
                <div class="media-body">
                    <h5 class="pt-60 pl-70">ABOUT ZASPIX CREATIVE PHOTOGRAPHY</h5><br>
                    <p class="text-justify pl-70">
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.  
                    </p>
                </div>
                <hr>
            </div>
        </div>

        <div class="col-md-12 visible-sm-down hidden-sm-up bg-whitesmoke">      
            <div class="text-center">
                <img src="/public/images/ZASLogo.png" class="img-fluid w-200">
                <div>
                    <h5 class="pt-60">ABOUT ZASPIX CREATIVE PHOTOGRAPHY</h5><br>
                    <p class="text-justify">
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.  
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>