<section class="section overflow-hidden" id="section-content" style="background-color: whitesmoke;">
    <div class="container">
        <div class="col-md-12 hidden-sm-down">      
            <div>
                <div class="card card-bordered px-30">
                    <div class="row">
                        <div class="col-md-3 pr-20 pt-100">
                            <img src="/public/images/ZASPIX-Main.png" class="img-fluid w-200 p-20 pt-30">
                            <p>
                                Is a photography blog owned by <strong class="text-warning"> Franzesch Anne Sales </strong> which cover events like wedding, debut, and some outdoor events like festivals.
                            </p>
                        </div>
                        <div class="col-md-9 p-0 py-20">
                            <div style=" overflow-y: hidden !important;">
                              <img src="/public/images/Gallery5.jpg" class="img-fluid pl-30" style="width: 100%;">
                            </div>

                            <div class="pt-5 pl-30">
                                <img src="/public/images/kid.jpg"
                                class="img-fluid" style="width: 186px; border: 1px solid #e2e2e2">

                                <img src="/public/images/kid4.jpg"
                                class="img-fluid" style="width: 186px; border: 1px solid #e2e2e2">

                                <img src="/public/images/kid3.jpg"
                                class="img-fluid" style="width: 186px; border: 1px solid #e2e2e2">

                                <img src="/public/images/kid2.jpg"
                                class="img-fluid" style="width: 186px; border: 1px solid #e2e2e2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 visible-sm-down hidden-sm-up bg-whitesmoke">      
            <div class="text-center">
                <div>
                  <img src="/public/images/Gallery5.jpg" class="img-fluid" style="width: 100%;">  
                </div>
                <h5 class="pt-60">ABOUT ZASPIX CREATIVE PHOTOGRAPHY</h5><br>
                <p class="text-justify">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.  
                </p>
            </div>
        </div>
    </div>
</section>