<section class="section overflow-hidden" id="section-more-about" style="border-bottom: 5px solid #9b3f2d;">
    <div class="container">
        <div class="col-md-12 bg-whitesmoke">      
            <div class="text-center">
                <img src="/public/images/ME.jpg" class="img-fluid w-200 img-thumbnail mt-20" style="border-radius: 50%;">
            </div>
            <h5 class="pt-60 text-center">ABOUT ME</h5><br>
            <p class="text-justify text-center px-30">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
            </p>
            <hr width="50px;">
            <div class="pt-30 text-center">
                <span class="fa-stack fa-lg">
                    <a href="https://twitter.com/fzasales" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x" style="color: gray !important;"></i>
                        <i class="fa fa-twitter fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://www.facebook.com/zeschsales" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-facebook fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://plus.google.com/100007752531035881324" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-google fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg">
                    <a href="https://www.instagram.com/zeschsales/" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-instagram fa-stack-1x" style="color: gray !important;"></i>
                    </a href="#">
                </span>
            </div>
        </div>
    </div>
    </section>