<section class="section overflow-hidden" id="section-content" style="background-color: whitesmoke;">
    <div class="container">
        <div class="col-lg-12 hidden-md-down"  data-aos="fade-up" data-aos-duration="1200">      
            <div>
                <div class="card card-bordered px-30">
                    <div class="pt-20">
                        <% if(error.length > 0){ %>
                          <div class="alert alert-danger alert-dismissible fade show" role="alert" style="border-style: solid; border-width: 2px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <%= error %><br>
                          </div>  
                        <%}%>

                        <% if(message.length > 0){ %>
                          <div class="alert alert-success alert-dismissible fade show" role="alert" style="border-style: solid; border-width: 2px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <%= message %><br>
                          </div>  
                        <%}%>
                    </div>
                   

                    <div class="row">
                        <div class="col-lg-3 pr-20 pt-50">
                            <img src="/public/images/ZASPIX-Main.png" class="img-fluid w-200 p-20 pt-30">
                            <p class="fs-15">
                                Is a Creative Photography blog owned by <strong class="text-warning"> Franzesch Anne Sales </strong>a Photographer, a Musician, and a Former Behavior Interventionist
                            </p>
                        </div>
                        <div class="col-lg-9 p-0 pb-20" data-aos="fade-up">
                            <div class="pl-30">
                                <img src="/public/images/intro.png" class="img img-fluid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 visible-md-down hidden-lg-up bg-whitesmoke">      
            <div class="text-center">
                <div>
                  <img src="/public/images/Gallery5.jpg" class="img-fluid" style="width: 100%;">  
                </div>
                <h5 class="pt-60">ABOUT ZASPIX CREATIVE PHOTOGRAPHY</h5><br>
                <p>
                    Is a Creative Photography blog owned by <strong class="text-warning"> Franzesch Anne Sales </strong>, a Photographer, a Musician, and a Former Behavior Interventionist
                </p>
            </div>
        </div>
    </div>
</section>