
<style type="text/css">
    .about-me-img{
        margin-top: -340px !important;
    }
</style>

<section class="section overflow-hidden bg-gray" id="section-more-about"  >
    <div class="container  bg-white mt-100"  data-aos="fade-up" data-aos-duration="1200">
        <div class="col-md-12 pb-40 pt-20">      
            <div class="text-center about-me-img pt-200">
                <img src="/public/images/ME.jpg" class="img-fluid w-200 img-thumbnail mt-20 " style="border-radius: 50%; box-sizing: border-box; border: 1px solid rgba(120, 130, 140, 0.3); padding: 4px;" id="about-me-img">
            </div>

            <div class="hidden-sm-down text-center">
                <h4 class="pt-50 text-light">ABOUT FRANZESCH</h4>
                <h6>Photographer, Music Enthusiast, and Behaviorist</h6><br>
                <p class="text-justify px-30 fs-15">
                    Franzesch is former Behavior Interventionist for mentally challenged kids, a part time Musician that focus on classical music, and now a Freelance Writer and Forum Moderator. She is a graduate of Bachelor of Arts in Psychology in Southern Luzon State University, Philippines. 

                    She always believes that Psychology is not limited to human behavior as it can also be applied in Arts, in Music, and even in Technology and Marketing.
                    <br><br>
                    She is also a Photography enthusiast, she practices street photography almost every day, with her mobile phone and old Canon digital camera.

                    She wanted to expand her knowledge especially if it is related to Music, Psychology, and Photography but she is willing to explore unknown territories such as being a Freelance Writer and a Moderator. Being open to more possibilities means higher chance of success. So, if you want to contact Franzesch, feel free to contact her at s.franzesch9@gmail.com.

                </p>
            </div>

            <div class="hidden-sm-up text-left">
                <h4 class="pt-60 text-light">ABOUT FRANZESCH</h4>
                <h6>Photographer, Music Enthusiast, and Behaviorist</h6><br>
                <p class="text-justify px-0 fs-15">
                    Franzesch is former Behavior Interventionist for mentally challenged kids, a part time Musician that focus on classical music, and now a Freelance Writer and Forum Moderator. She is a graduate of Bachelor of Arts in Psychology in Southern Luzon State University, Philippines. 

                    She always believes that Psychology is not limited to human behavior as it can also be applied in Arts, in Music, and even in Technology and Marketing.
                    <br><br>
                    She is also a Photography enthusiast, she practices street photography almost every day, with her mobile phone and old Canon digital camera.

                    She wanted to expand her knowledge especially if it is related to Music, Psychology, and Photography but she is willing to explore unknown territories such as being a Freelance Writer and a Moderator. Being open to more possibilities means higher chance of success. So, if you want to contact Franzesch, feel free to contact her at s.franzesch9@gmail.com.

                </p>
            </div>
            <hr width="50px;">
            <div class="pt-30 text-center">
                <span class="fa-stack fa-lg hvr-hang">
                    <a href="https://twitter.com/fzasales" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x" style="color: gray !important;"></i>
                        <i class="fa fa-twitter fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg hvr-hang">
                    <a href="https://www.facebook.com/zeschsales" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-facebook fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg hvr-hang">
                    <a href="https://plus.google.com/100007752531035881324" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-google fa-stack-1x"  style="color: gray !important;"></i>
                    </a>
                </span>
                <span class="fa-stack fa-lg hvr-hang">
                    <a href="https://www.instagram.com/zeschsales/" target="_blank">
                        <i class="fa fa-square-o fa-stack-2x"  style="color: gray !important;"></i>
                        <i class="fa fa-instagram fa-stack-1x" style="color: gray !important;"></i>
                    </a href="#">
                </span>
            </div>
        </div>
    </div>
    </section>

