<style type="text/css" media="screen">
    .thumbnail {
      padding: 0;
      width: 75px;
      min-height: 60px;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      display: block;
      height: auto;
      max-width: 100%;
      line-height: 1;
      width: 100%;
    }
    .carousel-item.active, .carousel-item-next, .carousel-item-prev {
      display: block;
    }
    .carousel-indicators-round li {
      border-radius: 10px;
      margin: 1px 3px;
      border: 1px solid #fff;
      background-color: transparent;
    }
    .carousel-indicators .active {
      background-color: #fff;
    }

    .box{
      cursor: pointer !important;
    }
</style>

<section class="section" id="section-album">
    <div class="container-fluid py-50 px-50">
        <div class="row">
            <!-- MODAL POP UP FOR FESTIVITIES ALBUM -->
            <%- include("./festivity-modal.ejs") %>

            <!-- MODAL POP UP FOR CREATIVE PHOTOGRAPHY ALBUM -->
            <%- include("./creative-photography-modal.ejs") %>

            <!-- MODAL POP UP FOR NATURE ALBUM -->
            <%- include("./nature-modal.ejs") %>

            <div class="col-12 col-md-12">
                <h2 class="text-center text-uppercase">MY ALBUMS 
                <h5 class="text-center" style="color:#4f4f4f;">Check out my album and explore more of my works. </h5><br>
            </div>

            <div class="col-md-4 box text-center" data-aos="fade-up" data-aos-duration="1100">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <img src="/public/images/Album2.jpg" id=" myAlbum"
                        class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2" data-toggle="modal" data-target="#festivitiesModal">
                    </div>
                    <h5>Festivities</h5>
                    <p class="px-10">Captured moment in festivals around Quezon province.</p>
                </div>
            </div>

            <div class="col-md-4 box text-center" data-aos="fade-up" data-aos-duration="1300">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <img src="/public/images/Album.jpg" id=" myAlbum2"
                        class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2" data-toggle="modal" data-target="#creativePhotographyModal">
                    </div>
                    <h5>Street Photography</h5>
                    <p class="px-10">Black and white and Street Photography.</p>
                </div>
            </div>

            <div class="col-md-4 box text-center" data-aos="fade-up" data-aos-duration="1500">
                <div class="card card-bordered card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <img src="/public/images/Album3.jpg" id=" myAlbum3"
                        class="img-fluid imageGallery" style="width: 450px; border: 1px solid #e2e2e2" data-toggle="modal" data-target="#natureModal">
                    </div>
                    <h5>Nature</h5>
                    <p class="px-10">Capturing the art of nature.</p>
                </div>
            </div>
        </div>
    </div>
</section>

