<style type="text/css">
    /* Useful Classes */
    .xy-centerAlbumCreative {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .transition {
        transition: all 350ms ease-in-out;
    }

    .r-3-2 {
        width: 100%;
        padding-bottom: 66.667%;
        background-color: #ddd;
    }

    .image-holder {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* Main Styles */
    .galleryAlbumCreative-wrapper {
        position: relative;
        overflow: hidden;
    }

    .galleryAlbumCreative {
        position: relative;
        white-space: nowrap;
        font-size: 0;
    }

    .item-wrapper {
        cursor: pointer;
        width: 23%; /* arbitrary value */
        display: inline-block;
        background-color: white;
    }

    .galleryAlbumCreative-item { opacity: 0.5; }
    .galleryAlbumCreative-item.active { opacity: 1; }

    .controlsAlbumCreative {
        font-size: 0;
        border-top: none;
    }
    .move-btnAlbumCreative {
        width: 50px;
        border: none;
        color: #ccc;
        background-color: rgba(0,0,0,0.7);
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        cursor: pointer !important;
    }
    .move-btnAlbumCreative:first-child {border-right: none;}
    .move-btnAlbumCreative.left  { 
        position: absolute;
        top: 25%;
        left: 0;
        cursor: pointer;
    }
    .move-btnAlbumCreative.right { 
        position: absolute;
        top: 25%;
        right: 0;
        cursor: pointer; 
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .move-btnAlbumCreative {
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            cursor: pointer !important;
        }
        .move-btnAlbumCreative.left  { 
            position: absolute;
            top: 10% !important;
            left: 0;
            cursor: pointer;
        }
        .move-btnAlbumCreative.right { 
            position: absolute;
            top: 10% !important;
            right: 0;
            cursor: pointer; 
        }
    }
</style>

<div class="modal fade modal-small" style="background: rgba(0,0,0,0.9);" id="creativePhotographyModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">Creative Photography<span class="hidden-sm-down">: Black and white and stolen moments.</span></h6>
            <button type="button" class="close close-modal" style="color:gray !important;" data-dismiss="modal">&times;</button>
        </div>
      
        <div class="modal-body">
            <h5 class="text-center hidden-sm-up">Black and white and stolen moments.</h5>

            <div class="feature">
                <figure class="featuredAlbumCreative-item image-holder r-3-2 transition"></figure>
            </div>
            
            <div class="galleryAlbumCreative-wrapper">
                <div class="galleryAlbumCreative">
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 active transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumCreative-item image-holder r-3-2 transition"></figure>
                        </div>
                </div>

                <div class="controlsAlbumCreative">
                    <button class="move-btnAlbumCreative left btn btn-secondary fs-25">&larr;</button>
                    <button class="move-btnAlbumCreative right btn btn-secondary fs-25">&rarr;</button>
                </div>
            </div>
            
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var featuredAlbumCreative = document.querySelector('.featuredAlbumCreative-item');

    $(document).ready(function(){
       var images = [
            '/public/images/Creative/0.jpg',
            '/public/images/Creative/1.jpg',
            '/public/images/Creative/2.jpg',
            '/public/images/Creative/3.jpg',
            '/public/images/Creative/4.jpg',
            '/public/images/Creative/5.jpg',
            '/public/images/Creative/6.jpg',
            '/public/images/Creative/7.jpg',
            '/public/images/Creative/8.jpg',
        ];


        //Set Initial Featured Image
        featuredAlbumCreative.style.backgroundImage = 'url(' + images[0] + ')';
        
        //Set Images for Gallery and Add Event Listeners
        for (var i = 0; i < galleryAlbumCreativeItems.length; i++) {
            galleryAlbumCreativeItems[i].style.backgroundImage = 'url(' + images[i] + ')';
            galleryAlbumCreativeItems[i].addEventListener('click', selectItemAlbumCreative);
        }
   });

    var galleryAlbumCreative = document.querySelector('.galleryAlbumCreative');
    var galleryAlbumCreativeItems = document.querySelectorAll('.galleryAlbumCreative-item');
    var numOfItems = galleryAlbumCreative.children.length;
    var itemWidth = 23; // percent: as set in css

    var leftBtn = document.querySelector('.move-btnAlbumCreative.left');
    var rightBtn = document.querySelector('.move-btnAlbumCreative.right');
    var leftInterval;
    var rightInterval;

    var scrollRate = 0.2;
    var left;

    function selectItemAlbumCreative(e) {
        if (e.target.classList.contains('active')) return;
        
        featuredAlbumCreative.style.backgroundImage = e.target.style.backgroundImage;
        
        for (var i = 0; i < galleryAlbumCreativeItems.length; i++) {
            if (galleryAlbumCreativeItems[i].classList.contains('active'))
                galleryAlbumCreativeItems[i].classList.remove('active');
        }
        
        e.target.classList.add('active');
    }

    function galleryAlbumCreativeWrapLeft() {
        var first = galleryAlbumCreative.children[0];
        galleryAlbumCreative.removeChild(first);
        galleryAlbumCreative.style.left = -itemWidth + '%';
        galleryAlbumCreative.appendChild(first);
        galleryAlbumCreative.style.left = '0%';
    }

    function galleryAlbumCreativeWrapRight() {
        var last = galleryAlbumCreative.children[galleryAlbumCreative.children.length - 1];
        galleryAlbumCreative.removeChild(last);
        galleryAlbumCreative.insertBefore(last, galleryAlbumCreative.children[0]);
        galleryAlbumCreative.style.left = '-23%';
    }

    function moveRightAlbumCreative() {
        left = left || 0;

        leftInterval = setInterval(function() {
            galleryAlbumCreative.style.left = left + '%';

            if (left > -itemWidth) {
                left -= scrollRate;
            } else {
                left = 0;
                galleryAlbumCreativeWrapLeft();
            }
        }, 1);
    }

    function moveLeft() {
        //Make sure there is element to the leftd
        if (left > -itemWidth && left < 0) {
            left = left  - itemWidth;
            
            var last = galleryAlbumCreative.children[galleryAlbumCreative.children.length - 1];
            galleryAlbumCreative.removeChild(last);
            galleryAlbumCreative.style.left = left + '%';
            galleryAlbumCreative.insertBefore(last, galleryAlbumCreative.children[0]);    
        }
        
        left = left || 0;

        leftInterval = setInterval(function() {
            galleryAlbumCreative.style.left = left + '%';

            if (left < 0) {
                left += scrollRate;
            } else {
                left = -itemWidth;
                galleryAlbumCreativeWrapRight();
            }
        }, 1);
    }

    function stopMovement() {
        clearInterval(leftInterval);
        clearInterval(rightInterval);
    }

    leftBtn.addEventListener('mouseenter', moveLeft);
    leftBtn.addEventListener('mouseleave', stopMovement);
    rightBtn.addEventListener('mouseenter', moveRightAlbumCreative);
    rightBtn.addEventListener('mouseleave', stopMovement);
    
</script>