<style type="text/css">
    /* Useful Classes */
    .xy-centerAlbumFestivity {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .transition {
        transition: all 350ms ease-in-out;
    }

    .r-3-2 {
        width: 100%;
        padding-bottom: 66.667%;
        background-color: #ddd;
    }

    .image-holder {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* Main Styles */
    .galleryAlbumFestivity-wrapper {
        position: relative;
        overflow: hidden;
    }

    .galleryAlbumFestivity {
        position: relative;
        white-space: nowrap;
        font-size: 0;
    }

    .item-wrapper {
        cursor: pointer;
        width: 23%; /* arbitrary value */
        display: inline-block;
        background-color: white;
    }

    .galleryAlbumFestivity-item { opacity: 0.5; }
    .galleryAlbumFestivity-item.active { opacity: 1; }

    .controlsAlbumFestivity {
        font-size: 0;
        border-top: none;
    }
    .move-btnAlbumFestivity {
        width: 50px;
        border: none;
        color: #ccc;
        background-color: rgba(0,0,0,0.7);
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        cursor: pointer !important;
    }
    .move-btnAlbumFestivity:first-child {border-right: none;}
    .move-btnAlbumFestivity.left  { 
        position: absolute;
        top: 25%;
        left: 0;
        cursor: pointer;
    }
    .move-btnAlbumFestivity.right { 
        position: absolute;
        top: 25%;
        right: 0;
        cursor: pointer; 
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .move-btnAlbumFestivity {
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            cursor: pointer !important;
        }
        .move-btnAlbumFestivity.left  { 
            position: absolute;
            top: 10% !important;
            left: 0;
            cursor: pointer;
        }
        .move-btnAlbumFestivity.right { 
            position: absolute;
            top: 10% !important;
            right: 0;
            cursor: pointer; 
        }
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 400px){
        .move-btnAlbumFestivity.left  { 
            position: absolute;
            top: 0 !important;
            left: 0;
            cursor: pointer;
        }
        .move-btnAlbumFestivity.right { 
            position: absolute;
            top: 0 !important;
            right: 0;
            cursor: pointer; 
        }
    }
</style>

<div class="modal fade modal-small" style="background: rgba(0,0,0,0.9);" id="festivitiesModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">Festivities<span class="hidden-sm-down">: Captured moment in festivals around Quezon province.</span></h6>
            <button type="button px-0" class="close close-modal" style="color:gray !important;" data-dismiss="modal">&times;</button>
        </div>
      
        <div class="modal-body">
            <h5 class="text-center hidden-sm-up">Captured moment in festivals around Quezon province.</h5>

            <div class="feature">
                <figure class="featuredAlbumFestivity-item image-holder r-3-2 transition"></figure>
            </div>
            
            <div class="galleryAlbumFestivity-wrapper">
                <div class="galleryAlbumFestivity">
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 active transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 transition"></figure>
                        </div>
                        <div class="item-wrapper">
                            <figure class="galleryAlbumFestivity-item image-holder r-3-2 transition"></figure>
                        </div>
                </div>

                <div class="controlsAlbumFestivity">
                    <button class="move-btnAlbumFestivity left btn btn-secondary fs-25">&larr;</button>
                    <button class="move-btnAlbumFestivity right btn btn-secondary fs-25">&rarr;</button>
                </div>
            </div>
            
        </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  var featuredAlbumFestivity = document.querySelector('.featuredAlbumFestivity-item');

    $(document).ready(function(){
       var images = [
            '/public/images/Festivities/0.jpg',
            '/public/images/Festivities/1.jpg',
            '/public/images/Festivities/2.jpg',
            '/public/images/Festivities/3.jpg',
            '/public/images/Festivities/4.jpg',
            '/public/images/Festivities/5.jpg',
            '/public/images/Festivities/6.jpg',
            '/public/images/Festivities/7.jpg',
            '/public/images/Festivities/8.jpg',
        ];


        //Set Initial Featured Image
        featuredAlbumFestivity.style.backgroundImage = 'url(' + images[0] + ')';
        
        //Set Images for Gallery and Add Event Listeners
        for (var i = 0; i < galleryAlbumFestivityItems.length; i++) {
            galleryAlbumFestivityItems[i].style.backgroundImage = 'url(' + images[i] + ')';
            galleryAlbumFestivityItems[i].addEventListener('click', selectItemAlbumFestivity);
        }
   });

    var galleryAlbumFestivity = document.querySelector('.galleryAlbumFestivity');
    var galleryAlbumFestivityItems = document.querySelectorAll('.galleryAlbumFestivity-item');
    var numOfItems = galleryAlbumFestivity.children.length;
    var itemWidth = 23; // percent: as set in css

    var leftBtn = document.querySelector('.move-btnAlbumFestivity.left');
    var rightBtn = document.querySelector('.move-btnAlbumFestivity.right');
    var leftInterval;
    var rightInterval;

    var scrollRate = 0.2;
    var left;

    function selectItemAlbumFestivity(e) {
        if (e.target.classList.contains('active')) return;
        
        featuredAlbumFestivity.style.backgroundImage = e.target.style.backgroundImage;
        
        for (var i = 0; i < galleryAlbumFestivityItems.length; i++) {
            if (galleryAlbumFestivityItems[i].classList.contains('active'))
                galleryAlbumFestivityItems[i].classList.remove('active');
        }
        
        e.target.classList.add('active');
    }

    function galleryAlbumFestivityWrapLeft() {
        var first = galleryAlbumFestivity.children[0];
        galleryAlbumFestivity.removeChild(first);
        galleryAlbumFestivity.style.left = -itemWidth + '%';
        galleryAlbumFestivity.appendChild(first);
        galleryAlbumFestivity.style.left = '0%';
    }

    function galleryAlbumFestivityWrapRight() {
        var last = galleryAlbumFestivity.children[galleryAlbumFestivity.children.length - 1];
        galleryAlbumFestivity.removeChild(last);
        galleryAlbumFestivity.insertBefore(last, galleryAlbumFestivity.children[0]);
        galleryAlbumFestivity.style.left = '-23%';
    }

    function moveRightAlbumFestivity() {
        left = left || 0;

        leftInterval = setInterval(function() {
            galleryAlbumFestivity.style.left = left + '%';

            if (left > -itemWidth) {
                left -= scrollRate;
            } else {
                left = 0;
                galleryAlbumFestivityWrapLeft();
            }
        }, 1);
    }

    function moveLeft() {
        //Make sure there is element to the leftd
        if (left > -itemWidth && left < 0) {
            left = left  - itemWidth;
            
            var last = galleryAlbumFestivity.children[galleryAlbumFestivity.children.length - 1];
            galleryAlbumFestivity.removeChild(last);
            galleryAlbumFestivity.style.left = left + '%';
            galleryAlbumFestivity.insertBefore(last, galleryAlbumFestivity.children[0]);    
        }
        
        left = left || 0;

        leftInterval = setInterval(function() {
            galleryAlbumFestivity.style.left = left + '%';

            if (left < 0) {
                left += scrollRate;
            } else {
                left = -itemWidth;
                galleryAlbumFestivityWrapRight();
            }
        }, 1);
    }

    function stopMovement() {
        clearInterval(leftInterval);
        clearInterval(rightInterval);
    }

    leftBtn.addEventListener('mouseenter', moveLeft);
    leftBtn.addEventListener('mouseleave', stopMovement);
    rightBtn.addEventListener('mouseenter', moveRightAlbumFestivity);
    rightBtn.addEventListener('mouseleave', stopMovement);
    
</script>