<section class="section overflow-hidden" id="section-gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-lg-2">
                <h2 class="text-center text-uppercase">MY GALLERY 
                <h5 class="text-center" style="color:#4f4f4f;">Cras sit amet nibh libero, in gravida nulla. </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG2.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG3.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG4.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG5.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG6.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG7.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                            
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center py-20">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block">
                        <a href="#">
                            <img src="/public/images/PhotoG8.jpg" class="img-fluid" style="width: 450px; border: 1px solid #e2e2e2">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>