<style type="text/css">
    /* Style the Image Used to Trigger the Modal */
    .imageGallery {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .imageGallery:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal-gallery {
        display: none; /* Hidden by default */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-gallery-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-gallery-content, #caption { 
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: relative;
        right: 35px !important;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }

    .item {
      position: relative;
      overflow: hidden;
    }
    .item img {
      max-width: 100%;
      -moz-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    .item:hover img {
      cursor: pointer;
      -moz-transform: scale(1.4);
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
      z-index: 0;
      position: relative;
    }


</style>

<section class="section overflow-hidden" id="section-gallery">
    <div id="myModal" class="modal modal-gallery">

      <!-- The Close Button -->
      <button type="button" class="close" data-dismiss="modal-gallery">&times;</button>

      <!-- Modal Content (The Image) -->
      <img class="modal-gallery-content modal-content" id="img01">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-lg-2">
                <h2 class="text-center text-uppercase">MY GALLERY 
                <h5 class="text-center" style="color:#4f4f4f;">Here are the list of my featured works. </h5>
            </div>
        </div>

        <div class="row" id="galleryImages">
            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG.jpg" id="myImg"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG2.jpg" id="myImg2"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG3.jpg" id="myImg3"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG4.jpg" id="myImg4"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG5.jpg" id="myImg5"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG6.jpg" id="myImg6"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG7.jpg" id="myImg7"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3 box text-center">
                <div class="card card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
                    <div class="card-block item">
                        <img src="/public/images/PhotoG8.jpg" id="myImg8"
                        class="img-fluid imageGallery" style="width: 450px;">
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function(){
        $('#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8').mouseover(function() {
            var modal = document.getElementById('myModal');
            var img = document.getElementById(this.id);
            var modalImg = document.getElementById("img01");

            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                console.log(this.id)
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() { 
              modal.style.display = "none";
            }
        });

        $('#myModal').on('hidden.bs.modal', function () {
          $("body").removeClass("disable-scroll");
          $("body").addClass("enable-scroll");
        });

        $('#myModal').on('show.bs.modal', function () {
          $("body").removeClass("enable-scroll");
          $("body").addClass("disable-scroll");
        });
    });
</script>