<div class="overlay" style="background-color: #000; position: absolute; height: 100%; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.5; "></div>
  <div class="container text-center">

    <div class="row">
        <div class="col-12 col-md-12  align-self-left">
          <div class="hidden-sm-down">
            <div class="media">
              <div class="media-body">
                <h1 class="text-white"><span>ZASPiX</span> CREATIVE PHOTOGRAPHY</h1>
                <hr class="w-50">
                <br>
                <p class="text-center text-white fs-25 pr-0 text-justify px-220">
                    A Creative Photography blog by <strong class="text-white"> Franzesch Anne Sales, </strong> <br> Photograpy and Music Enthusiast, <br>and a Former Behavior Interventionist
                </p>
              </div>
            </div>

            <div class="col-12 col-md-12 text-center">
              <br><br>
              <a href="#" data-scrollto="section-album" class="btn btn-glass btn-hover-all btn-lg py-10 mr-3 hvr-hang">
                BROWSE ALBUM
              </a> 

              <a href="#" data-scrollto="section-content" class="btn btn-hover-all-about btn-warning py-10 btn-lg hvr-hang">
                ABOUT ZASPiX
              </a> 
            </div>

          </div>
          
          <div class="hidden-md-up">
            <h1 class="text-center text-white fs-25 pt-50">
              ZASPIX CREATIVE PHOTOGRAPHY.
            </h1>
            <br><br>
            <p class="text-muted fs-20 pr-0 text-center">
                A Creative Photography blog by <strong class="text-white"> Franzesch Anne Sales </strong>,  a Photograpy and Music Enthusiast, and a Former Behavior Interventionist 
            </p>
            <br><br>
            <div class="col-12 align-self-end center">
                <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
            </div>
          </div>
        </div>
    </div>
  </div>