<style type="text/css">
    /* Useful Classes */
    .xy-centerAlbumNature {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .transition {
        transition: all 350ms ease-in-out;
    }

    .r-3-2 {
        width: 100%;
        padding-bottom: 66.667%;
        background-color: #ddd;
    }

    .image-holder {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* Main Styles */
    .galleryAlbumNature-wrapper {
        position: relative;
        overflow: hidden;
    }

    .galleryAlbumNature {
        position: relative;
        white-space: nowrap;
        font-size: 0;
    }

    .item-wrapper {
        cursor: pointer;
        width: 23%; /* arbitrary value */
        display: inline-block;
        background-color: white;
    }

    .galleryAlbumNature-item { opacity: 0.5; }
    .galleryAlbumNature-item.active { opacity: 1; }

    .controlsAlbumNature {
        font-size: 0;
        border-top: none;
    }
    .move-btnAlbumNature {
        width: 50px;
        border: none;
        color: #ccc;
        background-color: rgba(0,0,0,0.7);
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        cursor: pointer !important;
    }
    .move-btnAlbumNature:first-child {border-right: none;}
    .move-btnAlbumNature.left  { 
        position: absolute;
        top: 25%;
        left: 0;
        cursor: pointer;
    }
    .move-btnAlbumNature.right { 
        position: absolute;
        top: 25%;
        right: 0;
        cursor: pointer; 
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .move-btnAlbumNature {
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            cursor: pointer !important;
        }
        .move-btnAlbumNature.left  { 
            position: absolute;
            top: 10% !important;
            left: 0;
            cursor: pointer;
        }
        .move-btnAlbumNature.right { 
            position: absolute;
            top: 10% !important;
            right: 0;
            cursor: pointer; 
        }
    }

</style>

<div class="modal fade modal-small" style="background: rgba(0,0,0,0.9);" id="natureModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Nature<span class="hidden-sm-down">: Capturing the art of nature.</span></h6>
        <button type="button" class="close close-modal " style="color:gray !important;" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
          <h5 class="text-center hidden-sm-up">Capturing the art of nature.</h5>

          <div class="feature">
              <figure class="featuredAlbumNature-item image-holder r-3-2 transition"></figure>
          </div>
          
          <div class="galleryAlbumNature-wrapper">
              <div class="galleryAlbumNature">
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 active transition"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 transition"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 transition"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 transition"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 transition"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 transition"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 transition"></figure>
                      </div>
                      <div class="item-wrapper">
                          <figure class="galleryAlbumNature-item image-holder r-3-2 transition"></figure>
                      </div>
              </div>

              <div class="controlsAlbumNature">
                  <button class="move-btnAlbumNature left btn btn-secondary fs-25">&larr;</button>
                  <button class="move-btnAlbumNature right btn btn-secondary fs-25">&rarr;</button>
              </div>
          </div>
          
      </div>
      
    </div>
  </div>
</div>


<script type="text/javascript">
  var featuredAlbumNature = document.querySelector('.featuredAlbumNature-item');

    $(document).ready(function(){
       var images = [
            '/public/images/Nature/0.jpg',
            '/public/images/Nature/1.jpg',
            '/public/images/Nature/2.jpg',
            '/public/images/Nature/3.jpg',
            '/public/images/Nature/4.jpg',
            '/public/images/Nature/5.jpg',
            '/public/images/Nature/6.jpg',
            '/public/images/Nature/7.jpg',
            '/public/images/Nature/8.jpg',
        ];


        //Set Initial Featured Image
        featuredAlbumNature.style.backgroundImage = 'url(' + images[0] + ')';
        
        //Set Images for Gallery and Add Event Listeners
        for (var i = 0; i < galleryAlbumNatureItems.length; i++) {
            galleryAlbumNatureItems[i].style.backgroundImage = 'url(' + images[i] + ')';
            galleryAlbumNatureItems[i].addEventListener('click', selectItemAlbumNature);
        }
   });

    var galleryAlbumNature = document.querySelector('.galleryAlbumNature');
    var galleryAlbumNatureItems = document.querySelectorAll('.galleryAlbumNature-item');
    var numOfItems = galleryAlbumNature.children.length;
    var itemWidth = 23; // percent: as set in css

    var leftBtn = document.querySelector('.move-btnAlbumNature.left');
    var rightBtn = document.querySelector('.move-btnAlbumNature.right');
    var leftInterval;
    var rightInterval;

    var scrollRate = 0.2;
    var left;

    function selectItemAlbumNature(e) {
        if (e.target.classList.contains('active')) return;
        
        featuredAlbumNature.style.backgroundImage = e.target.style.backgroundImage;
        
        for (var i = 0; i < galleryAlbumNatureItems.length; i++) {
            if (galleryAlbumNatureItems[i].classList.contains('active'))
                galleryAlbumNatureItems[i].classList.remove('active');
        }
        
        e.target.classList.add('active');
    }

    function galleryAlbumNatureWrapLeft() {
        var first = galleryAlbumNature.children[0];
        galleryAlbumNature.removeChild(first);
        galleryAlbumNature.style.left = -itemWidth + '%';
        galleryAlbumNature.appendChild(first);
        galleryAlbumNature.style.left = '0%';
    }

    function galleryAlbumNatureWrapRight() {
        var last = galleryAlbumNature.children[galleryAlbumNature.children.length - 1];
        galleryAlbumNature.removeChild(last);
        galleryAlbumNature.insertBefore(last, galleryAlbumNature.children[0]);
        galleryAlbumNature.style.left = '-23%';
    }

    function moveRightAlbumNature() {
        left = left || 0;

        leftInterval = setInterval(function() {
            galleryAlbumNature.style.left = left + '%';

            if (left > -itemWidth) {
                left -= scrollRate;
            } else {
                left = 0;
                galleryAlbumNatureWrapLeft();
            }
        }, 1);
    }

    function moveLeft() {
        //Make sure there is element to the leftd
        if (left > -itemWidth && left < 0) {
            left = left  - itemWidth;
            
            var last = galleryAlbumNature.children[galleryAlbumNature.children.length - 1];
            galleryAlbumNature.removeChild(last);
            galleryAlbumNature.style.left = left + '%';
            galleryAlbumNature.insertBefore(last, galleryAlbumNature.children[0]);    
        }
        
        left = left || 0;

        leftInterval = setInterval(function() {
            galleryAlbumNature.style.left = left + '%';

            if (left < 0) {
                left += scrollRate;
            } else {
                left = -itemWidth;
                galleryAlbumNatureWrapRight();
            }
        }, 1);
    }

    function stopMovement() {
        clearInterval(leftInterval);
        clearInterval(rightInterval);
    }

    leftBtn.addEventListener('mouseenter', moveLeft);
    leftBtn.addEventListener('mouseleave', stopMovement);
    rightBtn.addEventListener('mouseenter', moveRightAlbumNature);
    rightBtn.addEventListener('mouseleave', stopMovement);
    
</script>